
{deps, [
    {hamcrest, ".*",
        {git, "https://github.com/hyperthunk/hamcrest-erlang.git"}},
    {proper, "1.0", 
        {git, "http://github.com/manopapad/proper.git", "master"}},
    {rebar_dist_plugin, "0.0.6",
        {git, "git://github.com/hyperthunk/rebar_dist_plugin.git"}}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{erl_opts, [warnings_as_errors]}.

{plugins, [rebar_dist_plugin]}.

{dist, [
    {format, zip},
    {assembly, project}
]}.
