
{extend, "rebar.config"}.
{deps, [
    {hamcrest, ".*",
        {git, "https://github.com/hyperthunk/hamcrest-erlang.git"}},
    {proper, "1.0", 
        {git, "http://github.com/manopapad/proper.git", "master"}},
    {proper_stdlib, ".*",
        {git, "https://github.com/spawngrid/proper_stdlib.git"}}
]}.

{qc_opts, [long_result, {numtests, 500}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
